/*Базовая стилизауия*/
body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/* ===============Верхняя панель хедера ==================*/
/* Стили для текста - начало */
.top-menu-logo {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.search input[type="search"],
.bookmarks,
.cart,
.order {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
/* Убрал скрытые заголовки */
.visually-hidden {
	display: none;
}
/* Фон верхней части хедера */
.header-top-menu {
	background-color: #293449;
}

/* =================Средняя панель хедера ================*/
/* Стили для текста - начало */
.header-page-title,
.contact-information a,
.address,
.user-navigation {
	font-family: "Cuprum", "Arial", sans-serif;
}

.header-page-title {
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	color: #ef505b;
}

.contact-information a {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #ee3643;
}

.address {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #32425c;
}

.user-navigation {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #000000;
	list-style: none;
}
/*======= Стили для входа в личн. кабинет ======*/
.user-orders a,
.user-account a {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #32425c;
	text-decoration: underline;
}
/* Стили для текста - конец */
/* Фон оставшейся части хедера */
.header-info {
	background-color: #f3f7f8;
}

/* ============Панель главной навигаци ==============*/
.header-navigation li {
	list-style: none;
	display: inline-block;
}

.header-navigation a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;
	color: #ffffff;
}

.header-navigation {
	background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}
/* ==================================== */

/* =====Основной контент внутр. страницы====*/
/* Общие стили внутр. страниц */
/* Стили для текста*/
.block-title,
.breadcrumbs,
.input-price input[type="text"],
.filter-option label,
.filter-option label,
.sort-panel a,
.filter legend,
.filter-button,
.pagination-list {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.breadcrumbs,
.pagination-list {
	text-transform: uppercase;
}
/* Убрал маркеры */
.breadcrumbs li {
	list-style: none;
}

.title {
	background-color: #f2f6f8;
}

.title h1 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
}

.input-price input[type="text"] {
	font-size: 17px;
	line-height: 18px;
}

.filter-option label,
.filter-option label {
	font-size: 15px;
	line-height: 20px;
}

.filter-button,
.pagination-list {
	font-size: 13px;
	line-height: 18px;
}

.sort-panel li,
.pagination-list,
.filter-option {
	list-style: none;
}

/* =========Основной контент гл. страница =====*/
/* ==============Промо-блок ==================== */
.company-offer {
	list-style: none;
}
/* Стили для текста - начало */
.company-offer h3 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.company-offer-item a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
/* Здесь фоны и состояния для блочков товаров и услуг */
.company-offer .materials {
	background-color: #ffbf47;
}

.materials a:hover,
.materials a:focus {
	background-color: #cccccc;
}

.company-offer .tools {
	background-color: #3bbce3;
}

.tools a:hover,
.tools a:focus {
	background-color: #cccccc;
}

.company-offer .mechanism {
	background-color: #dc91d8;
}

.mechanism a:hover,
.mechanism a:focus {
	background-color: #cccccc;
}

.company-offer .discount {
	background-color: #8ed78f;
}

.discount a:hover,
.discount a:focus {
	background-color: #cccccc;
}

.company-offer .delivery {
	background-color: #ffc047;
}

.delivery a:hover,
.delivery a:focus {
	background-color: #cccccc;
}
/* Здесь стилизация для слайдера */
/* Стили для текста - начало */
.slider .slide-title {
	font-family: "Cuprum", "Arial", sans-serif;;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.slider .slide-description {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
}

.slider a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
/* Подключил фоновое изображение */
.slider {
	background-image: url(../img/slider.jpg);
	background-repeat: no-repeat;
}

/*==========Блок популярные товары =================*/
/* Общий фон всего блока */
.popular-items-block {
	background-color: #f9f5f0;
}
/* Стили для текста - начало */
.popular-items-block .block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.popular-items-block a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.popular-item  h3,
.catalog-item h3,
.catalog-item-new h3 {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
}

.item-buy,
.item-bookmarks {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.item-buy {
	color: #ffffff;
}

.item-bookmarks {
	color: #32425c;
}

.catalog-item-price b,
.item-discount,
.item-discount a {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
}

.item-discount,
.item-discount a {
	color: #ffffff;
}
/* Стили для текста - конец */
/* Фоновые стили элементов блока */
.popular-items-block a {
	background-color: #ee3643;
}

.popular-items-list,
.catalog-item-list {
	list-style: none;
}

.item-buy {
	background-color: #63a63e;
}

.item-discount {
	background-image: url(../img/red-button.svg);
	background-repeat: no-repeat;
}

/* ===================Блок популярные компании ==============*/
/* Общий фон всего блока */
.popular-company-block {
	background-color: #f9f5f0;
}

.popular-company {
	list-style: none;
}
/* Стили для текста - начало */
.popular-company-block .block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.popular-company-block a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}
/* Стили для текста - конец */
.popular-company-block a {
	background-color: #ee3643;
}

/* ====================Блок сервисы ======================*/
/* Общий фон всего блока */
.services-block {
	background-color: #f4f8f9;
}
/* Стили для текста блока выбора услуги - начало */
.services .services-block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.services .slogan {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.list-services label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}
/* Стили для текста - конец */
.service-block-info .visually-hidden {
	display: none;
}

.list-services {
	list-style: none;
}

.delivery-selected-active {
	color: #32425c;
}

.delivery-selected-active {
	background-color: #ffffff;
}

.guaranty-selected-active,
.credit-selected-active {
	color: #ffffff;
}

.guaranty-selected-active,
.credit-selected-active {
	background-color: #32425c;
}
/* Стили для текста блока какая услуга выбрана - начало */
.delivery-active span,
.guaranty-active span,
.credit-active span {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}

.delivery-active p,
.guaranty-active p,
.credit-active p {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.credit-active a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
.credit-active a {
	background-color: #fb8a8d;
}

/*============Блок о компании и блок с адресом==========*/
.company-promo .delivery {
	list-style: none;
}
/* Стили для текста - начало */
.company-promo h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.company-promo p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.company-promo .delivery {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
}

.company-promo a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
.company-promo a {
	background-color: #ee3643;
}

/*================Футер - верх=======================*/
.footer {
	background-color: #32425c;
}
/* Стили для текста - начало */
.footer-top-logo {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.footer-top li,
.footer-goods-company li {
	list-style: none;
}

.footer-user-navigation a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f3f7f9;
}
/* Стили для текста - конец */
.footer-user-navigation li {
	display: inline-block;
}

/*=================== Футер середина ===================*/
/* Стили для текста - начало */
.footer-address {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f3f7f9;
}

.footer-goods-company a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #ffd180;
}
/* Стили для текста - конец */
.footer-goods-company li {
	display: inline-block;
}

/*==================== Нижняя часть футера ===================*/
.footer-bottom {
	background-color: #293449;
}
/* Стили для текста - начало */
.footer-contacts p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-social {
	text-align: center;
}

.social-btn {
	color: #ffffff;
}

/* .social-btn-vk { Подключать фоновые изображения
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
}

.social-btn-fb {
	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
}

.social-btn-inst {
	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
} */

/* Блок обратной связи */
.footer-contacts-mail {
	text-align: right;
}

.footer-contacts-mail p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-contacts-mail a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffd180;
}
/* Стили для текста - конец */
/* ============== Блок разработчика =====================*/
.footer-copyright {
	text-align: right;
}

.footer-copyright p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-copyright a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffd180;
}

/* Модальные окна */
/* Форма связи*/
.modal {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

.user-data input[type="text"],
.user-data input[type="email"],
.user-data textarea[name="letter"] {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
}

.modal .visually-hidden {
	display: none;
}

/* текстовый стиль кнопки*/
.button-submit {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;

	background-color: #ee3643;
}

.button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

.button-submit {
	text-align: center;
}

/* Форма закза */
.modal p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

.modal-buy-curt {
	background-color: #f1f1f1;
}
