/*Базовая стилизауия*/
body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Универсальный класс 
для скрытых эл-тов */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}


/* =====Верхняя панель хедера ==================*/
/* Сеточные стили */
html,
body {
	min-width: 1200px;
}
/*===Контейнер центровщик ===*/
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/*========================*/
/*==Логотип Техномарт=====*/
.logo-button {
	display: inline-block;
	margin-right: 17px;
	padding: 9px 50px;
	min-width: 120px;
	text-align: center;
	vertical-align: middle;
	
	background-color: #ee3643;
	box-shadow: 0px 6px 0px 1px #b52933;
}

.search {
	margin: 0;
	padding: 0;
}

.search {
	
}


/*=========================*/
.header-top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*=========================*/
/*Кнопка Оформить заказ*/
.order {
	text-align: center;
}

.order {
	width: 150px;
	height: 42px;
}
/*==========================*/
/*Сетка для блока*/
.header-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.header-page-title {
	width: 200px;
	margin-top: 44px;
    margin-bottom: 44px;
}
/*===========================*/
.user-navigation li {
	display: inline-block;
}

.registration {
	margin-right: 20px;
}

/*Главное меню хедера*/
/*Сетка для блока*/
.header-navigation {
	margin-bottom: 60px;
}

.site-navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.site-navigation {
	width: 940px;
	height: 55px;
}


/*Тянучка фона хедера 
на ширину браузера и верхней 
панели*/
.header {
	width: 100%;
	background-color: #f3f7f8;
}

.top-menu-wrapper {
	width: 100%;
	background-color: #293449
}

.header {
	margin-bottom: 60px;
}

/* Сброс маргинов и паддиногов */
.user-navigation,
.site-navigation,
.company-offer,
ul,
h3 {
	margin: 0;
	padding: 0;
}

/* Стили для текста - начало */
.top-menu-logo {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.search input[type="search"],
.bookmarks,
.cart,
.order {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */

/* Фон верхней части хедера */
.header-top-menu {
	background-color: #293449;
}

.order {
	background-color: #63a63e;
}
/* Подключение фоновых картинок */
/*.search::before {
	display: inline-block;
	content: " ";
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	padding-left: 15px;
}*/

.bookmarks::before {
	display: inline-block;
	content: " ";
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	padding-left: 15px;
}

.cart::before {
	display: inline-block;
	content: " ";
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	padding-left: 15px;
}

/* =====Средняя панель хедера ================*/
/* Стили для текста - начало */
.header-page-title,
.contact-information a,
.address,
.user-navigation {
	font-family: "Cuprum", "Arial", sans-serif;
}

.header-page-title {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	font-weight: normal;
	color: #ef505b;
}

.contact-information a {
	font-size: 21px;
	font-style: italic;
	line-height: 21px;
	font-weight: normal;
	color: #ee3643;
}

.contact-information a::before {
	display: inline-block;
	content: " ";
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	padding-left: 40px;
}

.address {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #32425c;
}

.user-navigation {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #000000;
	list-style: none;
}
/*======= Стили для входа в личн. кабинет ======*/
.user-orders a,
.user-account a {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #32425c;
	text-decoration: underline;
}
/* Стили для текста - конец */
/* Фон оставшейся части хедера */
.header-info {
	background-color: #f3f7f8;
}

.contact-information a {
	border: 3px solid #ffffff;
}

.contact-information a {
	display: block;
	text-align: center;
}

.contact-information a {
	width: 260px;
	height: 40px;
}

.login-link a,
.registration a {
	background-color: #ffffff;
}

.login-link::before {
	display: inline-block;
	content: "";
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	padding-left: 10px;
	padding-bottom: 2px;
	background-color: #ffffff;
}

.user-login {
	background-color: #ffffff;
}

.user-login::before {
	display: inline-block;
	content: "";
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
	padding-left: 10px;
}

.user-login::after {
	display: inline-block;
	content: "";
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	margin-left: 10px;
}

.user-login:hover {
	color: #ee3643;
	background-color: #000000;
}


/* ===Панель главной навигаци ==*/
.header-navigation li {
	list-style: none;
	display: inline-block;
}

.header-navigation a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;
	color: #ffffff;
}

.header-navigation {
	background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}
/* ==================================== */

/* =====Основной контент внутр. страницы====*/
/* Общие стили внутр. страниц */
/* Стили для текста*/
.block-title,
.breadcrumbs,
.input-price input[type="text"],
.filter-option label,
.filter-option label,
.sort-panel a,
.filter legend,
.filter-button,
.pagination-list {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.inner-page .header {
	margin-bottom: 23px; 
}
/*Сетка для пагинатора*/
.breadcrumbs {
	padding: 0;
  	margin: 0;
  	margin-bottom: 24px;
}

.breadcrumbs {
	display: flex;
}

.breadcrumbs,
.pagination-list {
	text-transform: uppercase;
}
/*Сетка для пагинатора*/
.inner-page .title {
	height: 89px;
	margin-bottom: 20px;
}


/* Убрал маркеры */
.breadcrumbs li {
	list-style: none;
}

.breadcrumbs li:first-child::before {
	display: inline-block;
	content: "";
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	width: 14px;
	height: 12px;
	padding-left: 10px;
}

/*Сетка для фильтра и каталога*/
/*Сетка фильтра */
/*===========================*/
.filter-block {
	width: 220px;
	margin-right: 20px;
}

.catalog-columns {
	display: flex;
}

/*Сетка для сортировки*/
/*========================*/
.sort-block {
	width: 700px;
	margin-bottom: 20px;
}

.sort-block h2,
.filter-block h2 {
	margin: 0;
	padding: 0;
}

.sort-block {
	display: flex;
	justify-content: space-between;
}	

.sort-panel {
	display: flex;
	justify-content: space-around;
}
/*=============================*/


/*Сетка для каталога*/
/*============================*/
.catalog-block {
	margin: 0;
	padding: 0;
}

.catalog-block {
	width: 700px;
	margin-bottom: 33px;
}

.catalog-item-list {
	margin: 0;
	padding: 0;
}

.catalog-item-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item {
	width: 220px;
    margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*===========================*/

/*Сетка пагинатора*/
/*=========================*/
.pagination-list {
	margin: 0;
	padding: 0;
}

.pagination-list {
	margin-bottom: 62px;
}

.pagination-list {
	display: flex;
}

.pagination-list li {
	width: 15px;
	margin-right: 10px;
}

.title {
	background-color: #f2f6f8;
}

.title h1 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.filter-block fieldset {
	border: none;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
}

.input-price input[type="text"] {
	font-size: 17px;
	line-height: 18px;
}

.filter-option label,
.filter-option label {
	font-size: 15px;
	line-height: 20px;
}

.filter-button,
.pagination-list {
	font-size: 13px;
	line-height: 18px;
}

.pagination-list a {
	color: #000000;
}

.pagination-btn {
	border: 1px solid #eaeaea;
}

.pagination-btn-activ {
	border: 1px solid #eaeaea;
	background-color: #ee3643;
}

.sort-panel li,
.pagination-list,
.filter-option {
	list-style: none;
}

.info-items-block {
	height: 260px;
}

.info .info-block-title {
	margin: 0;
	padding: 0;
}

.info .info-block-title {
	margin-bottom: 35px;
	padding-top: 60px;
}

.info .info-item {
	margin: 0;
	padding: 0;
}

.info-block-wrapper {
	width: 100%;
	background-color: #f4f8f9;
}

/* =====Основной контент гл. страница =====*/
/* ========Промо-блок ======== */
/* ========Сетка ======== */
.top-line {
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}

.top-line {
	margin-bottom: 20px;
}

.bottom-line {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards-item {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.vertical-line .discount {
	margin-bottom: 20px;
}

.promo-block {
	margin-bottom: 53px;
}
/*===========================*/
/*Параметры блоков*/
.materials,
.tools,
.mechanism,
.discount,
.delivery {
	width: 300px;
	height: 123px;
}

.slider {
	width: 620px;
	height: 266px;
}

.company-offer {
	list-style: none;
}
/* Стили для текста - начало */
.company-offer h3 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.company-offer-item a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
/* Здесь фоны и состояния для блочков товаров и услуг */
.company-offer .materials {
	background-color: #ffbf47;
}

.materials a:hover,
.materials a:focus {
	background-color: #cccccc;
}

.company-offer .tools {
	background-color: #3bbce3;
}

.tools a:hover,
.tools a:focus {
	background-color: #cccccc;
}

.company-offer .mechanism {
	background-color: #dc91d8;
}

.mechanism a:hover,
.mechanism a:focus {
	background-color: #cccccc;
}

.company-offer .discount {
	background-color: #8ed78f;
}

.discount a:hover,
.discount a:focus {
	background-color: #cccccc;
}

.company-offer .delivery {
	background-color: #ffc047;
}

.delivery a:hover,
.delivery a:focus {
	background-color: #cccccc;
}
/* Здесь стилизация для слайдера */
/* Стили для текста - начало */
.slider .slide-title {
	font-family: "Cuprum", "Arial", sans-serif;;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.slider .slide-description {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
}

.slider a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
/* Подключил фоновое изображение */
.slider {
	background-image: url(../img/slider.jpg);
	background-repeat: no-repeat;
}

/*=====Блок популярные товары ==*/
/*Сетка для блока*/
.popular-items-block {
	display: flex;
	justify-content: space-around;
}

.btn-popular-items,
.btn-popular-company {
	width: 253px;
	height: 38px;
}

.popular-items-block {
	margin-bottom: 20px;
}

.popular-items-list {
	margin-bottom: 20px;
}

.popular-items-list {
	display: flex;
	justify-content: space-between;
}

.card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-category,
.catalog-item-title {
	display: block;
}

.catalog-category,
.catalog-item-title {
	text-align: center;
}

/*===========================*/

/* Общий фон всего блока */
.popular-items-block {
	background-color: #f9f5f0;
}
/* Стили для текста - начало */
.popular-items-block .block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.popular-items-block a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.popular-item  h3,
.catalog-item h3,
.catalog-item-new h3 {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
}

.item-buy,
.item-bookmarks {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.popular-item {
	width: 220px;
	border: 1px solid #eaeaea;
}

.item-buy {
	color: #ffffff;
}

.item-bookmarks {
	color: #32425c;
}

.catalog-item-price b,
.item-discount,
.item-discount a {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
}

.item-discount,
.item-discount a {
	color: #ffffff;
}
/* Стили для текста - конец */
/* Фоновые стили элементов блока */
.popular-items-block a {
	background-color: #ee3643;
}

.popular-items-list,
.catalog-item-list {
	list-style: none;
}

.item-buy {
	background-color: #63a63e;
}

.item-discount {
	background-image: url(../img/red-button.svg);
	background-repeat: no-repeat;
}

/* ====Блок популярные компании ==*/
/*Сетка для блока*/
.popular-company-block {
	display: flex;
	justify-content: space-around;
}

.popular-company-list {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.brand-company {
	display: flex;
    justify-content: center;
    align-items: center;
}

.popular-company-block {
	margin-bottom: 20px;
}

.popular-company {
	margin-bottom: 85px;
}


/* Общий фон всего блока */
.popular-company-block {
	background-color: #f9f5f0;
}

.brand-company {
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.popular-company-list {
	list-style: none;
}
/* Стили для текста - начало */
.popular-company-block .block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.popular-company-block a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}
/* Стили для текста - конец */
.popular-company-block a {
	background-color: #ee3643;
}

/* =====Блок сервисы ========*/
/*Сетка для блока*/
.services-block h2,
.services-block p {
	margin: 0;
	padding: 0;
}

.services-block {
	margin-bottom: 82px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.services {
	width: 400px;
	height: 105px;
	padding-top: 63px;
	padding-bottom: 63px;
}

.service-block-info {
	display: flex;
	justify-content: flex-start;
}

.list-services {
	width: 240px;
	height: 183px;
}



/* Общий фон всего блока */
.services-block-wrapper {
	width: 100%;
	background-color: #f4f8f9;
}
/* Стили для текста блока выбора услуги - начало */
.services .services-block-title,
.info-block-title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.services .slogan,
.info .info-item {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.list-services label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}
/* Стили для текста - конец */
.service-block-info .visually-hidden {
	display: none;
}

.list-services {
	list-style: none;
}

.delivery-selected-active {
	color: #32425c;
}

.delivery-selected-active {
	background-color: #ffffff;
}

.guaranty-selected-active,
.credit-selected-active {
	color: #ffffff;
}

.guaranty-selected-active,
.credit-selected-active {
	background-color: #32425c;
}
/* Стили для текста блока какая услуга выбрана - начало */
.delivery-active span,
.guaranty-active span,
.credit-active span {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}

.delivery-active p,
.guaranty-active p,
.credit-active p {
	font-family: "PT Sans", "Arial", sans-serif;;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.delivery-active p::after {
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 0;
	background-image: url("../img/delivery.jpg");
	background-repeat: no-repeat;
	width: 468px;
	height: 261px;
	margin-left: 78px;
	margin-top: -186px;
}

.credit-active a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
.credit-active a {
	background-color: #fb8a8d;
}

/*====Блок о компании и блок с адресом==========*/
/*Сетка для блока*/
.company-promo {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.left-column {
	width: 540px;
}

.right-column {
	width: 310px;
}
/*===========================*/

.company-promo .delivery-company {
	list-style: none;
}
/* Стили для текста - начало */
.company-promo h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.company-promo p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
}

.company-promo .delivery {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
}

.company-promo a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
/* Стили для текста - конец */
.company-promo a {
	background-color: #ee3643;
}

/*=======Футер - верх=========*/
/*Сетка для блока*/
.footer-top {
	display: flex;
	justify-content: space-between; 
}

.footer-user-navigation {
	display: flex;
	justify-content: space-between;
	width: 550px;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
}

.footer-address {
	width: 380px;
}

.footer-goods-company {
	display: flex;
	justify-content: space-between;
	width: 540px;
}

.footer-bottom,
.footer-contacts,
.footer-contacts-mail,
.footer-copyright {
	margin: 0;
}

.footer-bottom {
	display: flex;
	padding: 30px 0;
}

.footer-contacts {
	width: 235px;
	margin-right: 160px;
}

.footer-social {
	width: 135px;
	margin-right: 118px;
}

.footer-contacts-mail {
	width: 140px;
}

.footer-copyright {
	width: 130px;
	margin-right: auto;
}


.footer {
	background-color: #32425c;
}
/* Стили для текста - начало */
.footer-top-logo {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.footer-top li,
.footer-goods-company li {
	list-style: none;
}

.footer-user-navigation a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f3f7f9;
}
/* Стили для текста - конец */
.footer-user-navigation li {
	display: inline-block;
}

/*======== Футер середина ================*/
/* Стили для текста - начало */
.footer-address {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #f3f7f9;
}

.footer-goods-company a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #ffd180;
}
/* Стили для текста - конец */
.footer-goods-company li {
	display: inline-block;
}

/*====== Нижняя часть футера ===================*/
.footer-bottom-wrapper {
	width: 100%;
	background-color: #293449;
}
/* Стили для текста - начало */
.footer-contacts p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-social {
	text-align: center;
}

.social-btn {
	color: #ffffff;
}

.social-btn-vk::before {
	display: inline-block;
	content: "";
	background-image: url("../img/icon-vk.svg");
	background-repeat: no-repeat;
	width: 26px;
	height: 15px;
}

.social-btn-fb::before {
	display: inline-block;
	content: "";
	background-image: url("../img/icon-fb.svg");
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	margin-left: 10px;
}

.social-btn-inst::before {
	display: inline-block;
	content: "";
	background-image: url("../img/icon-insta.svg");
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	margin-left: 10px;
}
.social-btn span {
	display: none;
}

/* Блок обратной связи */
.footer-contacts-mail {
	text-align: right;
}

.footer-contacts-mail span {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-contacts-mail a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffd180;
}
/* Стили для текста - конец */
/* ============== Блок разработчика =====================*/
.footer-copyright {
	text-align: right;
}

.footer-copyright span {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.footer-copyright a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffd180;
}

/* Модальные окна */
/* Форма связи*/
.modal-login {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

.user-data input[type="text"],
.user-data input[type="email"],
.user-data textarea[name="letter"] {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
}

.modal .visually-hidden {
	display: none;
}

/* текстовый стиль кнопки*/
.button-submit {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

.button-submit {
	text-align: center;
}

/* Форма закза */
.modal-buy-curt {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

.modal-buy-curt {
	background-color: #f1f1f1;
}
