/*Базовая стилизауия*/
body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*Верхняя панель хедера*/
.header-top-menu {
	background-color: #293449;
}

.top-menu-logo {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
}

.search input[type="search"],
.bookmarks,
.cart,
.order {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.search .visually-hidden,
.promo-block .visually-hidden {
	display: none;
}

/*Средняя панель хедера*/
.header-info {
	background-color: #f3f7f8;
}

.header-page-title,
.contact-information a,
.address,
.user-navigation {
	font-family: "Cuprum", "Arial", sans-serif;
}

.contact-information a:hover {
	background-color: yellow;
}

.header-page-title {
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	color: #ef505b;
}

.contact-information a {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #ee3643;
}

.address {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #32425c;
}

.user-navigation {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;
	color: #000000;
	list-style: none;
}

/*Панель главной навигаци*/
.header-navigation {
	background-color: #32425c;
}

.header-navigation li {
	list-style: none;
	display: inline-block;
}

.header-navigation a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: normal;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}
